<li>
	{{burger_name}}

	<button class="btn btn-primary" id="devoured-btn" type="button" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if devoured}}Throw Away{{else}}Devour!!{{/if}}
	</button>
</li>
