<li>
	{{burger_name}}

	<button class="btn btn-primary" id="devoured-btn" type="button" data-id="{{id}}" data-newsleep="{{devoured}}">
		{{#if devoured}}Devour!{{else}}WAKE UP!{{/if}}
	</button>
</li>
