<header if="navContainer"> 

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper brown darken-3">
      <a href="/" class="brand-logo">Rob's Burgers</a>
     
  </nav>
  </div>
  </header>
