/*Colors
purple: ##987284;
tan: #D0D6B5;
Mauve: #EE7674;
blue: #75B9BE;
*/

body {
  max-width: 960px;
  padding: 15px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
}

li {
  list-style-type: none;
}

h2 {
  color: red;
  font-family: "Gaegu";
  white-space: nowrap;
}

#ca {
  padding: 5px;
}

#create {
  margin-left: 50%;
}

#status {
  padding-left: 50%;
}

#uneaten {
    padding-right: 100px;
}

#form {
  margin-left: 55%;
  padding: 50px;
}

button {
  border: none;
  color: white;
  background-color: red;
  border-radius: 3px;
  margin-left: 5px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

button:hover {
  background-color: #d12e2e;
  box-shadow: 2px 2px 2px 2px #ccc;
}
